:root {
  --primary-purple:#5046e6;
}

html, body {
  margin: 0;
}

#root {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.buttons {
  margin: 15px auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 5px;
}

button.add {
  width: 60%;
  background-color: #5046e6;
  color: #fff;
  transition: .3s all;
}

button.add:hover {
  background-color: #5e54eb;
  opacity: .95;
}

button.del {
  width: 20%;
}

footer {
  margin-top: auto;
}

footer a {
  cursor: pointer;
}

/* settings modal */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #23232388;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .settings {
  background-color: #fff;
  border-radius: 16px;
  width: 80%;
  min-height: 300px;
  padding: 25px 15px;
  margin: 15px auto;
  text-align: left;
  display: flex;
}

.overlay .settings .header {
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  display: inline-block;
}

.overlay .settings .header .close svg {
  cursor: pointer;
  transition: .3s all;
}

.overlay .settings .header .close svg:hover {
  transform: rotate(-90deg);
}

.settings .body {
  padding-left: 25px;
  flex-grow: 1;
}
.settings h1 {
  margin: 0;
  padding-left: 1rem;
}

.settings .fields {
  padding: 15px;
}

.settings .notifications .toggle.granted {
  background-color: var(--primary-purple);
  color: #fff;
}